<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="css-analyser"
            id="css-analyser">
      </category>
      <view
            name="Duplicated Declarations"
            icon="icons/icon.png"
            category="css-analyser"
            class="ca.concordia.cssanalyser.plugin.views.duplicationrefactoring.DuplicationRefactoringView"
            id="ca.concordia.cssanalyser.plugin.views.duplicationrefactoring.DuplicationRefactoringView">
      </view>
      <view
            name="Overriding Dependencies"
            icon="icons/icon.png"
            category="css-analyser"
            class="ca.concordia.cssanalyser.plugin.views.dependenciesvisualization.DependenciesVisualizationView"
            id="ca.concordia.cssanalyser.plugin.views.dependenciesvisualization.DependenciesVisualizationView">
      </view>
      <view
            name="Affected DOM nodes"
            icon="icons/html_tag_obj.gif"
            category="css-analyser"
            class="ca.concordia.cssanalyser.plugin.views.dependenciesvisualization.AffectedDOMNodesView"
            id="ca.concordia.cssanalyser.plugin.views.dependenciesvisualization.AffectedDOMNodesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="ca.concordia.cssanalyser.plugin.views.duplicationrefactoring.DuplicationRefactoringView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ca.concordia.cssanalyser.plugin.annotations.DuplicatedDeclarations"
            colorPreferenceKey="duplicatedDeclarations_color"
            colorPreferenceValue="100,255,190"
            contributesToHeader="false"
            highlightPreferenceKey="duplicatedDeclarations_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="duplicatedDeclarations_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="duplicatedDeclarations_previousNavigationTarget"
            label="Duplicated Declarations"
            overviewRulerPreferenceKey="duplicatedDeclarations_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="duplicatedDeclarations_nextPrevDropdownToolbar"
            textPreferenceKey="duplicatedDeclarations_text"
            textPreferenceValue="true"
            textStylePreferenceKey="duplicatedDeclarations_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="duplicatedDeclarations_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
	  <specification
            annotationType="ca.concordia.cssanalyser.plugin.annotations.StyleRule"
            colorPreferenceKey="styleRule_color"
            colorPreferenceValue="255,170,220"
            contributesToHeader="false"
            highlightPreferenceKey="styleRule_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="styleRule_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="styleRule_previousNavigationTarget"
            label="Style Rule"
            overviewRulerPreferenceKey="styleRule_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="styleRule_nextPrevDropdownToolbar"
            textPreferenceKey="styleRule_text"
            textPreferenceValue="true"
            textStylePreferenceKey="styleRule_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="styleRule_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
	  <specification
            annotationType="ca.concordia.cssanalyser.plugin.annotations.Declaration"
            colorPreferenceKey="declaration_color"
            colorPreferenceValue="220,170,255"
            contributesToHeader="true"
            highlightPreferenceKey="declaration_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="declaration_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="declaration_previousNavigationTarget"
            label="Declaration"
            overviewRulerPreferenceKey="declaration_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="declaration_nextPrevDropdownToolbar"
            textPreferenceKey="declaration_text"
            textPreferenceValue="true"
            textStylePreferenceKey="declaration_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="declaration_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
 	  <specification
            annotationType="ca.concordia.cssanalyser.plugin.annotations.DomNode"
            colorPreferenceKey="dom_node_color"
            colorPreferenceValue="221,221,255"
            contributesToHeader="true"
            highlightPreferenceKey="dom_node_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="dom_node_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="dom_node_previousNavigationTarget"
            label="HTML Node"
            overviewRulerPreferenceKey="dom_node_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="dom_node_nextPrevDropdownToolbar"
            textPreferenceKey="dom_node_text"
            textPreferenceValue="true"
            textStylePreferenceKey="dom_node_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="dom_node_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>     
   </extension>
	<extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.eclipse.ui.example.styleSheetFile">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.eclipse.core.resources.name" 
                     value="*.css"/>
               <!--test property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.ant.core.antBuildFile"/-->
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="css-analyser">
            <command
                  commandId="ca.concordia.cssanalyser.plugin.commands.OpenDuplicatedDeclarationsView"
                  id="OpenDuplicatedDeclarationsView"
                  label="Duplications"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.eclipse.ui.example.styleSheetFile">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.eclipse.ui.example.styleSheetFile">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.concordia.cssanalyser.plugin.commandhandlers.PopupMenuHandler"
            id="ca.concordia.cssanalyser.plugin.commands.OpenDuplicatedDeclarationsView"
            name="DuplicaionsCommandName">
      </command>
   </extension>

</plugin>
